<h2 id="title">EMBER PAGINATION</h2>

<ul>
  {{#each client in model.clients}}
    <li>{{client.name}}</li>
  {{/each}}
</ul>

{{ember-pagination
  perPage=5
  limit=5
  content=model.clients
  total=model.total
  loadAction='loadMore'}}
